<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632846307832-fgahitfmm970j9lbjn65hevsl1934nve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632846307832-fgahitfmm970j9lbjn65hevsl1934nve</string>
	<key>API_KEY</key>
	<string>AIzaSyAaHKljVhOJD2SWRqkb1ZNdEPWOXPA9cZw</string>
	<key>GCM_SENDER_ID</key>
	<string>632846307832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mesa.Mesa-Thinking</string>
	<key>PROJECT_ID</key>
	<string>desafio-mesa-thinking</string>
	<key>STORAGE_BUCKET</key>
	<string>desafio-mesa-thinking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632846307832:ios:63f04eba84f3d6f260c60d</string>
</dict>
</plist>